<div class="location-intro">
  <h2>Wo wohnst du?</h2>
  <p>
    Wir benötigen deine PLZ um Läden in deiner Nähe zu finden.
  </p>
</div>
<div class="location-input">
  <span><img src="assets/Icons/pin.png"></span>
  <input type="text" />
</div>
<div class="location-results">  
  <app-market-tile title="Denn's Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Paul's Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Matthias Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Nils Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Armin's Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Fernando's Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
  <app-market-tile title="Phil's Biomarkt" openedUntil="22 Uhr" distance="5 km" mat-button (click)="goToProductList()"></app-market-tile>
</div>
