<div class="section alternative title">
  <h2>Denn's Biomarkt</h2>
</div>

<div class="centered-text">Übersicht Bestellungen</div>

<div class="card-container">
  <mat-card class="order-card" *ngFor="let orderItem of orders" (click)="goToPicker()">
    <mat-card-content>
      <div class="order-content-container">
        <div class="order-item-text">
          <div class="customer-name">{{orderItem.name}}</div>
          Einkaufs-ID: {{orderItem.id}}
        </div>
        <div class="order-item-time">
          {{orderItem.time}}
        </div>
        <div class="order-item-remove">
          X
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div style="clear:both;"></div>
</div>