<div class="section">
  <h2>Guten Tag!</h2>

  <p>
    Toll, dass Sie mit uns das Einkaufserlebnis Ihrer Kunden verbessern möchten!
  </p>
</div>

<div class="section alternative">
  <h2>Denn's Biomarkt</h2>
  
  <p>
    Auf dem Strengfeld 6<br>
    14542 Werder (Havel)
  </p>
</div>

<div class="section">
  <div class="hint-text">
    Nicht richtig? <a href="#">Hier manuell auswählen</a>
  </div>

  <p>
    Um sicherzustellen, dass Sie zum Marktpersonal gehören 
    benötigen wir ganz kurz Ihren Standort :)
  </p>

  <button class="mat-raised-button" color="primary" (click)="goToRegistration()">Ort bestätigen</button>
</div>