.section {
  text-align: center;
  padding: 12px 0px 8px 0px;

  &.alternative {
    background-color: #eaeaea;
    
    p {
      color: #000000;
    }
  }

  .hint-text {
    padding-bottom: 20px;
    
    a {
      color: #000000;
    }
  }
}