<div class="card-container">
  <mat-card class="cart-card" *ngFor="let cartItem of cart">
    <mat-card-content>
      <div class="cart-content-container">
        <div class="cart-item-image">    
          <img [src]="productList[cartItem.productId].image" [alt]="productList[cartItem.productId].name"></div>
        <div class="cart-item-text">
          {{productList[cartItem.productId].name}}<br>
          Menge: {{cartItem.amount}}
        </div>
        <div class="cart-item-remove" (click)="removeFromCart(cartItem.id)">
          X
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div style="clear:both;"></div>
</div>
