<div class="shopping-content">
  <div class="product-list-tools"> 
    <div class="product-filter">
      <span><img src="assets/Icons/search.png"></span>
      <input type="text" [(ngModel)]="filterKey" placeholder="Suche nach einem Artikel" />
    </div>
  </div>
  <div class="category-list" *ngFor="let category of categoryList">
    <h2>{{ category }}</h2>

    <app-product-list [category]="category" [filterKey]="filterKey" *ngIf="category"></app-product-list>
  </div>

  <app-flow-buttons backwardUrl="/location" forwardUrl="/user-data"></app-flow-buttons>

  <!-- <button class="mat-raised-button payment-button" (click)="goToCheckout()">Weiter zur Dateneingabe</button> -->

  <div id="cart-overlay" class="cart-overlay"  >
    <div class="overlay" (click)="toggleOverlay()"></div>
    <div class="cart">
      <app-cart></app-cart>
    </div>
  </div>
</div>