<div class="shopping-content">
  <div class="product-list-tools"> 
    <h3 class="cart-link" (click)="goToCart()">
     Im Warenkorb: {{ this.getCartAmount() }}
    </h3>
    <div class="product-filter">
      <span><img src="assets/Icons/search.png"></span>
      <input type="text" [(ngModel)]="filterKey" placeholder="Suche nach einem Artikel" />
    </div>
  </div>
  <div class="category-list" *ngFor="let category of categoryList">
    <h2>{{ category }}</h2>

    <app-product-list [category]="category" [filterKey]="filterKey" *ngIf="category"></app-product-list>
  </div>

  <app-flow-buttons backwardUrl="/location" forwardUrl="/user-data"></app-flow-buttons>

  <!-- <button class="mat-raised-button payment-button" (click)="goToCheckout()">Weiter zur Dateneingabe</button> -->

  <div class="cart-overlay" >
    <div class="cart">
      <app-cart></app-cart>
    </div>
  </div>
</div>