@import '../../../styles.scss';

.call-to-action-button {
    background-color: $second-color;
    margin: 40px;    
}

.button-gray{
    background-color: #979797;
}

section {
    margin-bottom: 30px;
    padding: 20px;
}

.greeting-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopping-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $section-color;
    
    div {
        display: flex;
        flex-direction: row;

        div {
            display: block;
            width: 50%;
        }

        img {
            position: relative;
            top: -60px;
            width: 50%;
        }

    }

    button {
        margin: 10px;
        margin-top: 0px;
    }

}

.registration-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}