@import '../../styles.scss';

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    height: 70px;
    width: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;

    &:active {
        background-color: $second-color;
        color: white;
    }

    img {
        height: 60px;
        width: 60px;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .product-card {
        height: 21%;
        width: 21%;
    }
  }