@import "../../styles.scss";


.flow-button {
  color: white;
  float: right;
  position: fixed;
  bottom: 80px;
  border-radius: 30px;
  height: 30px;
  border: none;
  cursor: pointer;

  padding:20px;
  line-height:6px;

  &.backwards {
    background-color: orange;
    left: 30px;
  }

  &.forward {
    background-color: $prime-color;
    right: 30px;
  }
}