<div class="section alternative">
  <h2>Denn's Biomarkt</h2>
  
  <p>
    Auf dem Strengfeld 6<br>
    14542 Werder (Havel)
  </p>
</div>

<div class="section">
  <h2>Gleich geht's los</h2>

  <p>
    Wir brauchen noch ein paar Infos von Ihnen
  </p>

  <div>
    <form class="example-form" style="max-width: 400px;margin:0px auto;">
      <mat-form-field class="example-full-width">
        <mat-label>Telefonnummer (Optional)</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Ansprechpartner</mat-label>
        <input matInput placeholder="">
      </mat-form-field>

      
      <button mat-mini-fab class="cam-icon" (click)="goToProducts()">
        <mat-icon>photo_camera</mat-icon>
      </button>
    </form>
  </div>
</div>